%tr
	%td= Region.find_by_code(feed.region).title
	%td= Category.find_by_code(feed.category).title
	%td
		%ul
			= render :partial => 'feeds/keywords/keyword', :collection => feed.keywords, :locals => { :delete => false, :feed => feed }
	%td
		= link_to 'edit', feed, :class => 'button wrench'
		= link_to 'delete', feed, :method => :delete, :confirm => 'Are you sure you want to delete this feed? There is no undo.', :class => 'button trash'
