= form_for Feed.new do |f| 
	= f.hidden_field :user_id, :value => current_user.id
	%p
		= f.label :region
		= f.select :region, options_for_select(Region.order('title asc').all.collect {|region| [region.id,region.title]})
	%p
		= f.label :category
		= f.select :category, options_for_select(Category.order('title asc').all.collect {|cat| [cat.id,cat.title]})
	.actions= f.submit 'Create New Feed', :class => 'button'
